LENS_ENDPOINT=https://lens.basicxii.com
LENS_PROJECT_ID=prj_REPLACE_WITH_PROJECT_ID
LENS_API_KEY=
LENS_SIGNING_SECRET=
LENS_TIMEOUT=5
LENS_ENABLED=true
LENS_AGENT_ENABLED=false
LENS_INSTANCE=default
LENS_AGENT_EXECUTION=process
LENS_AGENT_QUEUE_CONNECTION=redis
LENS_AGENT_QUEUE=lens-commands
LENS_AGENT_RESULT_STORE=redis
LENS_AGENT_WAIT_TIMEOUT=900
LENS_AUDIT_ENABLED=true
LENS_COMPOSER_BINARY=composer
LENS_NPM_BINARY=npm
